<div class="container">
  <label class="h4 bg-light mx-5 my-4 px-4">新規投稿</label>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
          
          <%= render 'layouts/errors', obj: @post_image %>
          
          <%= form_with model: @post_image do |f| %>
            
            <div class="field">
              <%= f.label :"画像" %><br />
              <%= f.file_field :image, placeholder: "画像", accept: "image/*" %>
            </div>
            
            <div class="field">
              <%= f.label :"名前" %><br />
              <%= f.text_field :name %> 
            </div>
            
            <div class="field">
              <%= f.label :"ケア方法" %><br />
              <%= f.text_field :care %> 
            </div>
            
            <div class="field">
              <%= f.label :"使用年数" %><br />
              <%= f.text_field :years_passed %> 
            </div>
            
            <div class="field">
              <%= f.label :"本文" %><br />
              <%= f.text_field :body, class: "form-control", size: "20x10" %>
            </div>
            
            <div class="field">
            <%= f.label :"ジャンル" %><br />
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
            </div>
            
            <div class="actions mt-3">
              <%= f.submit "投稿", class: "btn btn-primary px-5" %>
            </div>
          <% end %>
        </div>
    </div>
</div>