<div class="container">
    <div class="row mb-2">
      <div class="col-lg-3">

        <%= render "public/searches/genre_search", genres: @genres %>

      </div>

      <div class="col-lg-8 offset-lg-1">
        <label class="h4 bg-light mx-5 my-4 px-4">投稿詳細</label>

        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>投稿画像</td>
              <td><%= image_tag @post_image.get_image(200,200) %></td>
              <td>
                <% if @post_image.user == current_user %>
                  <%= link_to "削除する", post_image_path(@post_image.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>ユーザー</td>
              <td>
                <%= image_tag @post_image.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
                <%= link_to user_path(@post_image.user_id) do %>
                  <%= @post_image.user.account_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= @post_image.name %></td>
            </tr>
            <tr>
              <td>ケア方法</td>
              <td><%= @post_image.care %></td>
            </tr>
            <tr>
              <td>使用年数</td>
              <td><%= @post_image.years_passed %></td>
            </tr>
            <tr>
              <td>本文</td>
              <td><%= @post_image.body %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @post_image.genre.name %></td>
            </tr>
            <tr>
              <td>投稿日</td>
              <td><%= @post_image.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td>
                <% if @post_image.favorited_by?(current_user) %>
                  <p>
                    <%= link_to post_image_favorite_path(@post_image), method: :delete do %>
                      ♥<%= @post_image.favorites.count %> いいね
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to post_image_favorite_path(@post_image), method: :post do %>
                      ♡<%= @post_image.favorites.count %> いいね
                    <% end %>
                  </p>
                <% end %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <div>
          <p>コメント件数：<%= @post_image.comments.count %></p>
          <% @post_image.comments.each do |comment| %>
            <p><%= image_tag comment.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %></p>
            <%= comment.user.account_name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
            <% if comment.user == current_user %>
              <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@post_image, @comment] do |f| %>
          <div>
            <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
          </div>
          <div>
            <%= f.submit "送信する", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>