<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "public/searches/genre_search", genres: @genres %>
    </div>
    
    <div class="col-lg-8 offset-lg-1">
      <label class="h4 bg-light mx-5 my-4 px-4">検索結果</label>

      <div class="d-flex flex-wrap">
      <% @post_images.each do |post_image| %>
        <div class="card m-2 shadow-lg">
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image(200,200), class: "card-img-top"; %>
          <% end %>
          <p class="ml-1"><strong><span class="text-dark"><%= post_image.name %></span></strong></p>
          <p class="text-dark ml-1">投稿日：<%= post_image.created_at.strftime('%Y/%m/%d') %></p>
          <span class="text-dark ml-1"> By <%= post_image.user.account_name %></span></br>
          <span class="text-dark">♥<%= post_image.favorites.count %> いいね | <%= post_image.comments.count %>コメント</span>
        </div>
      <% end %>
      </div>
      <%= paginate @post_images %>

    </div>
  </div>
</div>