<div class="container">
  <label class="h4 bg-light mx-5 my-4 px-4">ログイン</label>
  <div class="row mb-2">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :"Eメール" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :"ログイン状態を保存する" %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
        </div>
      <% end %>

    </div>
  </div>

  <label class="h4 bg-light px-4">登録がお済みでない方</label>
  <div class="row mb-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <%= link_to "こちら", new_user_registration_path %>　から新規登録してください。
    </div>
  </div>

</div>

